@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap'); 

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  
}


:root {
  --fundo-claro: #ffffff;
  --fundo-escuro: #252323;
  --color-letras: #000000;
  --assinatura-border-button: #b2987d;
}
