@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap'); 



/* TOPO DO SITE */
.container_topo {
    width: 100%;
    padding: 0px 20px;
}
.topo {
    max-height: 10vh;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
    margin: 0 auto;
}
.img {
    width: 130px;
    height: 130px;
}
.container_topo div button {
    
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 20px;
    background: none;
    border: 2px solid var( --assinatura-border-button );
}


/* SEÇÃO BANNER*/

.banner {
    width: 100%;
    height: 30vh;
    background-image: url('/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*SEÇÃO CONTEUDO*/

.secao_conteudo {
    width: 100%;
    
}
.container_conteudo {
    height: 60vh;
    max-width: 900px;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    
    margin: auto;
}
.container_conteudo h1 {
    font-size: 40px;
}
.paragrafo, .paragrafo2 {
    font-size: 18px;
}

.fonte_assinatura {
    margin-top: 28px;
    font-size: 60px;
    font-family: 'Great Vibes', cursive;    
    color: var(--assinatura-border-button);
    
}


/* MODO ESCURO */

.escuro {
  background-color: var(--fundo-escuro);
}
.escuro .container_topo button {
    color: white;
}
.escuro .container_topo .img {
    filter: invert(1) brightness(2);
}
.escuro .container_conteudo h1, .escuro .container_conteudo .paragrafo, .escuro .container_conteudo .paragrafo2 {
    color: var(--fundo-claro);
}




@media (min-width: 701px){
    .container_topo {
     padding: 10px 20px;
    }
    .container_conteudo{
     height: 90vh;
     max-width: 900px;
    }
    .paragrafo{
     font-weight: 600;
    }
 }




@media (min-width: 701px) and (max-width: 1024px) {
    .container_topo {
     padding: 25px 20px;
    }
    .container_conteudo{
     height: 90vh;
     max-width: 600px;
    }
    .paragrafo{
     font-weight: 600;
    }
 }



@media (min-width: 551px) and (max-width: 700px) {
    .container_topo {
     padding: 25px 20px;
    }
    .container_conteudo{
     height: 90vh;
     max-width: 550px;
    }
    .paragrafo{
     font-weight: 600;
    }
    
    
 }




@media (min-width: 100px) and (max-width: 550px) {
   .container_topo {
    padding: 17px 20px;
   }
   .container_conteudo h1, .paragrafo{
    max-width: 380px;
   }
   .container_conteudo{
    height: 90vh;
   }
   .paragrafo{
    font-weight: 600;
   }
   .paragrafo2 {
    width: 400px;
   }
 
   
}
 /* Quando o celular está na horizontal (landscape) */
@media (max-width: 1330px) and (orientation: landscape) {
    .topo {
        max-height: 10vh;
    }
    .container_conteudo {
        height: 180vh;
      }
}
